.wrap {
    position: absolute;
    left: 0;
    bottom: 71px;
    margin-left: -70px;
    margin-bottom: -95px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}
.wrap * {
    padding: 0;
    margin: 0;
}
.wrap .info {
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: auto;
    background: #fff;
}
.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}
.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}
.info .body {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
}
.desc .ellipsis {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc .jibun {
    font-size: 11px;
    width: 250px;
    color: #888;
    margin-top: -2px;
}
.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}
.info .link {color: #5085BB;}
.addr {
    margin-right: 10px;
}


.review{
    border-bottom: 1px solid black;
  }